@import '@/ui/style/theme.scss';

$backgrounds: (
  'primary-color': 'knowledge-tree',
  'primary-color-variant-1': 'data-services-tree',
  'primary-color-variant-2': 'data-spaces-tree',
  'primary-color-variant-3': 'applications-tree'
);

.okp4-dataverse-portal-card-main {
  @include with-theme() {
    border-radius: 20px;
    display: flex;
    align-items: center;

    @each $background-key, $background-value in $backgrounds {
      &.#{$background-key} {
        background: themed($background-key)
          url('@/ui/asset/images/#{$background-value}.webp')
          no-repeat;
        cursor: pointer;

        &.disabled {
          &:hover {
            background-color: themed(card-background-disabled);
          }
        }
      }
    }

    &.card {
      background-color: themed('card');
    }
  }
}
