@import '@/ui/style/theme.scss';

$backgrounds: (
  'knowledge-tree': $blue-500,
  'data-services-tree': $darkblue-500,
  'zones-tree': $teal-500,
  'applications-tree': $turquoise-500,
);

.okp4-dataverse-portal-card-main {
  @include with-theme() {
    border-radius: 20px;
    display: flex;
    align-items: center;

    @each $background-key, $background-value in $backgrounds {
      &.#{$background-key} {
        background: url('@/ui/asset/images/#{$background-key}.webp') no-repeat;
        background-color: $background-value;
        cursor: pointer;

        &:hover {
          background-color: themed(card-background-hover);
        }

        &:focus {
          background-color: themed('card-background-pressed');
        }

        &.disabled {
          cursor: unset;

          &:hover {
            background-color: $darkblue-900;
          }
        }
      }
    }

    &.card {
      background-color: themed('background-variant-3');
    }
  }
}
