@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.okp4-dataverse-portal-copy-paste-main {
  display: flex;
  cursor: pointer;

  .show-icon {
    animation: show 400ms ease-in-out;
  }
  
  .okp4-dataverse-portal-copy-paste-icon {
    display: flex;
    align-items: center;
  }
}
