@import '@/style/fonts.scss';
@import '@/style/theme.scss';
@import '@/style/mixins.scss';

.okp4-dataverse-portal-home-page-main {
  @include with-theme() {
    @include grid-item($colStart: 1, $colEnd: -1, $rowStart: 2, $rowEnd: auto);
    row-gap: 30px;

    @include use-breakpoints(('mobile', 'tablet')) {
      row-gap: 40px;
    }

    @include use-breakpoints(('mobile')) {
      @include grid-container($colsNb: 6, $gutter: 16px);
    }

    @include use-breakpoints(('tablet')) {
      @include grid-container($colsNb: 8, $gutter: 16px);
    }

    @include use-breakpoints(('desktop')) {
      @include grid-container($gutter: 34px);
    }

    @include use-breakpoints(('large-desktop')) {
      @include grid-container($gutter: 48px);
    }

    .okp4-dataverse-portal-home-page-block-container {
      @include use-breakpoints(('desktop')) {
        @include grid-container($gutter: 34px);
      }

      @include use-breakpoints(('large-desktop')) {
        @include grid-container($gutter: 48px);
      }

      @include use-breakpoints(('mobile')) {
        @include grid-container($colsNb: 6, $gutter: 16px);
      }

      @include use-breakpoints(('tablet')) {
        @include grid-container($colsNb: 8, $gutter: 16px);
      }

      h1 {
        @include grid-item($colStart: 1, $colEnd: -1, $rowStart: 1, $rowEnd: 1);
        @include norse-font(700);
        width: fit-content;
        line-height: 36px;
        letter-spacing: 4px;
        font-size: 24px;
        background: themed('gradient');
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include use-breakpoints(('tablet', 'mobile')) {
          @include grid-item($colStart: 1, $colEnd: -1, $rowStart: 1, $rowEnd: 1);
          justify-self: center;
          margin-bottom: 4px;
        }
      }

      &.community {
        @include grid-item($colStart: 1, $colEnd: -1, $rowStart: 1, $rowEnd: 1);
        grid-auto-rows: max-content;
        row-gap: 16px;
      }

      &.explore {
        @include grid-item($colStart: 1, $colEnd: -1, $rowStart: auto, $rowEnd: auto);
        grid-auto-rows: max-content max-content;
        row-gap: 19px;

        @include use-breakpoints(('mobile')) {
          row-gap: 20px;
        }

        @include use-breakpoints(('tablet')) {
          gap: 34px;
        }
      }

      &.interact {
        @include grid-item($colStart: 1, $colEnd: -1, $rowStart: auto, $rowEnd: auto);
        grid-auto-rows: max-content max-content;
        row-gap: 16px;
      }
    }
  }
}
