@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-selection-filter-options-list {
  --checkbox-height: 32px;
  --checkbox-gap: 6px;
  --visible-checkboxes: 3;

  @include columns-with-gap(var(--checkbox-gap));
  height: calc(var(--checkbox-height) * var(--visible-checkboxes) + var(--checkbox-gap) * (var(--visible-checkboxes)));
  overflow-y: auto;
  padding-right: 8px;
}

.okp4-dataverse-portal-selection-filter-no-results-wrapper {
  @include grid-item($colStart: 1, $colEnd: -1, $rowStart: auto, $rowEnd: auto);
  display: flex;
  justify-content: center;
  height: inherit;
}
