@import '@/ui/style/theme.scss';
@import '@/ui/style/fonts.scss';

@mixin nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

@mixin text-themed-svg {
  svg {
    path {
      fill: themed('text');
    }
  }
}

.okp4-dataverse-portal-sidebar-navigation-container {
  @include with-theme() {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (max-height: 880px) {
      margin-top: 44px;
      gap: 30px;
    }

    &.collapsed {
      align-self: center;
      gap: 88px;
      @media screen and (max-height: 880px) {
        gap: 62px;
      }
    }

    .okp4-dataverse-portal-sidebar-navigation-block {
      display: flex;
      flex-direction: column;
      gap: 13px;

      &.collapsed {
        align-self: center;
      }

      h3:first-of-type {
        @include norse-font(700);
        color: themed('text');
        font-size: 18px;
        opacity: 0.4;
        letter-spacing: 2px;
      }

      .okp4-dataverse-portal-sidebar-deactivated-navitem {
        @include nav-item;
        @include text-themed-svg;
        cursor: default;

        .text {
          &:hover {
            color: themed('text');
            opacity: 0.4;
          }
        }
      }

      a {
        @include nav-item;
        cursor: pointer;
        text-decoration: unset;

        &:not(.active) {
          @include text-themed-svg;
        }

        &:hover {
          svg {
            path {
              fill: themed('orange-emphasis-500');
            }
          }

          p {
            color: themed('orange-emphasis-300');
            opacity: 1;
          }
        }

        &.active {
          p {
            color: themed('orange-emphasis-500');
            opacity: 1;
          }
        }
      }
    }
  }
}
