@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-data-space-details-dataverse-item-stat-card-main {
  @include with-theme {
    justify-content: space-between;
    min-height: 110px;
    padding: 0 40px;
    column-gap: 10px;

    @include use-breakpoints(('mobile')) {
      padding: 0 20px;
    }

    .okp4-dataverse-portal-data-space-details-dataverse-item-stat-card-description {
      display: flex;
      column-gap: 30px;

      @include use-breakpoints(('mobile')) {
        column-gap: 9px;
      }

      .okp4-dataverse-portal-data-space-details-dataverse-item-stat-card-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46px;
        width: 46px;
        border-radius: 6px;
        background-color: rgba(themed('background-variant-1'), 0.06);
      }

      .okp4-dataverse-portal-data-space-details-dataverse-item-stat-card-type {
        @include noto-sans(700);
        line-height: 28px;
        color: themed('text');
      }

      .okp4-dataverse-portal-data-space-details-dataverse-item-stat-card-updated {
        @include noto-sans(400);
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(themed('text'), 0.4);
      }
    }

    .okp4-dataverse-portal-data-space-details-dataverse-item-stat-card-stat {
      @include noto-sans(700);
      font-size: 24px;
      color: themed('text');
    }
  }
}
