@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-modal-main {
  @include with-theme {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6000000238418579);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .okp4-dataverse-portal-modal-dialog {
      background: themed('modal-background');
      border-radius: 12px;
      box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.06);
      padding: 30px 12px 19px 33px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;

      .okp4-dataverse-portal-modal-content {
        color: themed('text');
        padding-right: 14px;
      }
    }
  }
}

.zoom-transition-enter .okp4-dataverse-portal-modal-dialog {
  opacity: 0;
  transform: scale(0.9);
}

.zoom-transition-enter-active .okp4-dataverse-portal-modal-dialog {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s;
}

.zoom-transition-exit .okp4-dataverse-portal-modal-dialog {
  opacity: 1;
}

.zoom-transition-exit-active .okp4-dataverse-portal-modal-dialog {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s;
}
