@import '@/ui/style/fonts.scss';
@import '@/ui/style/mixins.scss';
@import '@/ui/style/theme.scss';

$variants: ('success', 'error', 'warning', 'info');

@keyframes show-toast {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(calc(-100% - 16px));
  }
}

@keyframes hide-toast {
  0% {
    transform: translateY(calc(-100% - 16px));
  }

  100% {
    transform: translateY(0%);
  }
}

.okp4-dataverse-portal-toast-main {
  @include with-theme {
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 100%, 0);
    width: calc(100% - 32px);
    z-index: 10;
    
    @include use-breakpoints(('tablet','desktop','large-desktop')) {
      max-width: 960px;
    }
 
    .okp4-dataverse-portal-toast-container {
      @include columns-with-gap(16px);
      justify-content: center;
      align-items: center;
      animation: show-toast 400ms ease-in-out forwards;
      background: themed(tertiary-button-background);
      border-radius: 6px;
      padding: 21px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);

      @include use-breakpoints(('tablet','desktop','large-desktop')) {
        flex-direction: row;
        justify-content: space-between;
      }

      @include use-breakpoints(('tablet','desktop')) {
        padding-right: 38px;
      }

      @include use-breakpoints(('large-desktop')) {
        padding-right: 56px;
      }
      
      &.is-hidding {
        animation: hide-toast 400ms ease-in-out forwards; 
      }

      .okp4-dataverse-portal-toast-details-container {
        display: flex;
        flex-direction: column;

        .okp4-dataverse-portal-toast-header-container {
          display: flex;
          gap: 10px;
          align-items: center;
          
          .okp4-dataverse-portal-toast-title {
            @include noto-sans(700);
            text-transform: uppercase;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0.4px;

            @each $variant-key in $variants {
              &.#{$variant-key} {
                color: themed($variant-key);
              }
            }
          }
        }

        .okp4-dataverse-portal-toast-description {
          @include noto-sans(400);
          color: themed(chip);
          letter-spacing: 0.4px;
          font-size: 14px;
          line-height: 20px;
          padding-left: 32px;
        }
      }

      .okp4-dataverse-portal-toast-cta {
        @include use-breakpoints(('tablet','desktop','large-desktop')) {
          width: auto;
        }
      }
    }

    .has-action {
      position: relative;
      overflow: hidden;

      @include use-breakpoints(('mobile')) {
        &::after {
          display: none;
        }
      }

      @include use-breakpoints(('tablet')) {
        &::after {
          transform: translate3d(46px, -50%, 0);
        }
      }

      @include use-breakpoints(('desktop')) {
        &::after {
          transform: translate3d(43px, -50%, 0);
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate3d(28px, -50%, 0);
        z-index: -1;
        width: 232px;
        height: 232px;
        border-radius: 50%;
        background-color: rgba(themed('background-variant-1'), 0.02);
      }

      .okp4-dataverse-portal-toast-details-container {
        @include use-breakpoints(('tablet','desktop')) {
          max-width: 370px;
        }
      }
    }
  }
}
