@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-dropdown-main {
  @include with-theme {
    .okp4-dataverse-portal-dropdown-trigger {
      background-color: themed('dropdown-background');
      border: 1px solid themed('dropdown-border');
      border-radius: 6px;
      padding: 1px 6px 1px 10px;
    }

    .okp4-dataverse-portal-popover-trigger-icon {
      path {
        fill: themed("text");
        stroke: themed("text");
      }
    }

    .okp4-dataverse-portal-dropdown-field {
      display: flex;
      align-items: center;
      height: 42px;
      width: 100%;
      @include noto-sans(400);
      font-size: 16px;
      color: themed('text');
      line-height: 22px;
      white-space: nowrap;

      .okp4-dataverse-portal-dropdown-field-placeholder {
        @include noto-sans(400);
        color: themed('text');
        line-height: 22px;
        font-size: 16px;
      }
    }
  }
}

.okp4-dataverse-portal-dropdown-content {
  @include with-theme {
    box-sizing: border-box;
    height: min-content;
    max-height: 100%;
    width: var(--radix-popover-trigger-width);
    max-width: var(--radix-popover-trigger-width);
    padding: 10px;
    border-radius: 6px;
    background-color: themed('dropdown-content-background');
    box-shadow: themed('dropdown-content-box-shadow');
    @include noto-sans(400);
    color: themed('text');
  }
}
