@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-dropdown-main {
  @include with-theme {
    .okp4-dataverse-portal-dropdown-trigger {
      background-color: themed('dropdown-background');
      border: 1px solid themed('dropdown-border');
      border-radius: 6px;
    }

    .okp4-dataverse-portal-dropdown-content {
      @include columns-with-gap(8px);
      padding-top: 11px;

      .okp4-dataverse-portal-dropdown-options-list {
        --checkbox-height: 32px;
        --checkbox-gap: 6px;
        --visible-checkboxes: 3;
        @include columns-with-gap(var(--checkbox-gap));
        height: calc(
          var(--checkbox-height) * var(--visible-checkboxes) + var(--checkbox-gap) *
            (var(--visible-checkboxes))
        );
        overflow-y: auto;
        padding-right: 8px;
      }

      .okp4-dataverse-portal-dropdown-no-results-wrapper {
        @include grid-item($colStart: 1, $colEnd: -1);
        display: flex;
        justify-content: center;
        height: inherit;
      }
    }

    .okp4-dataverse-portal-dropdown-header {
      display: flex;
      align-items: center;
      height: 42px;
      margin-right: 3px;

      @include noto-sans(400);
      font-size: 16px;
      color: themed('text');
      line-height: 22px;
      white-space: nowrap;

      &-selection {
        display: flex;
        gap: 10px;

        &-item {
          color: themed('dropdown-tags-color');
          background-color: themed('dropdown-tags-background');
          height: 6px;
        }
      }
    }
  }
}
