@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-multiselect-dropdown-main {
  @include with-theme {
    .okp4-dataverse-portal-multiselect-dropdown-field-list {
      display: flex;
      gap: 10px;
      width: 100%;

      .okp4-dataverse-portal-multiselect-dropdown-field-list-item,
      .okp4-dataverse-portal-multiselect-dropdown-field-list-additional-item {
        color: $blue-500;
        background-color: rgba($blue-500, 0.12);
      }

      .okp4-dataverse-portal-multiselect-dropdown-field-list-additional-item-wrapper {
        max-width: 40px; 
      }

      .okp4-dataverse-portal-multiselect-dropdown-field-list-item {
        min-width: 40px;
        flex-shrink: 0;
      }

      .hidden { 
        display: none;
      }
    }
  }
}


.okp4-dataverse-portal-multiselect-dropdown-options {
  @include with-theme {
    --checkbox-height: 32px;
    --checkbox-gap: 6px;
    --visible-checkboxes: 6;
    --search-height: 40px;
    --search-option-gap: 8px;
    --search-option-padding: 10px;
      
    --content-height: calc(
      (var(--checkbox-height) + var(--checkbox-gap)) * var(--visible-checkboxes) + var(--search-height) + var(--search-option-gap) + var(--search-option-padding) * 2
    );
    display: flex;
    flex-direction: column;
    height: var(--content-height);
    max-height: auto;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
      
    .okp4-dataverse-portal-dropdown-search-options {
      box-sizing: border-box;
      padding: var(--search-option-padding);
      @include columns-with-gap(var(--search-option-gap));
      border-radius: 6px;
      background-color: themed('dropdown-content-background');
      box-shadow: themed('dropdown-content-box-shadow');
      height: min-content;
      max-height: 100%;
        
      .okp4-dataverse-portal-dropdown-options-list {
        @include columns-with-gap(var(--checkbox-gap));
        overflow-y: auto;
        padding-right: var(--checkbox-gap);
    
        .checked {
          background: none;
        }
      }
    
      .okp4-dataverse-portal-dropdown-no-results-wrapper {
        @include grid-item($colStart: 1, $colEnd: -1);
        display: flex;
        justify-content: center;
        height: inherit;
        min-height: calc((var(--checkbox-height) + var(--checkbox-gap)) * 3);
      }
    }
  }
}

.okp4-dataverse-portal-popover-content[data-side='top'] {
  &.okp4-dataverse-portal-multiselect-dropdown-options {
    justify-content: flex-end;
  } 
}
    
.okp4-dataverse-portal-popover-content[data-side='top'] .okp4-dataverse-portal-dropdown-search-options {
  flex-direction: column-reverse;
}

.okp4-dataverse-portal-multiselect-dropdown-modal-main {
  @include with-theme {
    align-items: stretch;

    .okp4-dataverse-portal-okp4-modal-top-element {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
      .okp4-dataverse-portal-multiselect-dropdown-modal-title {
        @include norse-font(700);
        color: themed('text');
        font-size: 24px;
        line-height: 72px;
        letter-spacing: 0.18px;
        text-transform: uppercase;
      }
    }
    
    .okp4-dataverse-portal-multiselect-dropdown-modal-checkbox {
      display: flex;
      gap: 8px;
      padding: 9px 0;
          
      path {
        fill: $white;
      }
          
      .okp4-dataverse-portal-multiselect-dropdown-modal-checkbox-label {
        @include noto-sans(400);
        flex-grow: 1;
        font-size: 16px;
        line-height: 22px;
        color:themed('text');
        cursor: pointer;
      
        .okp4-dataverse-portal-multiselect-dropdown-modal-checkbox-label-text {
          overflow: hidden;
          text-overflow: ellipsis;
          /* stylelint-disable-next-line value-no-vendor-prefix */
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
    

    .okp4-dataverse-portal-okp4-modal-bottom-element {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      gap: 18px;
      align-items: center;
      width: 100%;

      .okp4-dataverse-portal-multiselect-dropdown-modal-bottom-button {
        flex-shrink: 0;
        flex-basis: 120px;

        .okp4-dataverse-portal-button-label {
          white-space: nowrap;
        }
      }
    }
  }
}

