@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

$card-height: 220px;
$card-gap: 48px;
$search-container-gap: 26px;
$searchbar-height: 42px;
$service-details-vertical-padding: 21px;

.okp4-dataverse-portal-share-dataset-page-service-selection-container {
  @include with-theme() {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 34px;
    height: 100%;

    h2 {
      @include grid-item($colStart: 1, $colEnd: -1);
      @include noto-sans(700);
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 0.4px;
      color: themed('text');
      margin-bottom: 11px;
    }

    .okp4-dataverse-portal-share-dataset-page-service-selection-tabs {
      @include grid-item($colStart: 1, $colEnd: -1);

      h3 {
        @include noto-sans(700);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: themed('text');
        margin-bottom: 16px;
        text-transform: uppercase;
      }
    }

    .okp4-dataverse-portal-share-dataset-page-service-selection-search-container {
      @include grid-container($colGutter: 18px, $rowGutter: $search-container-gap);
      grid-template-rows: $searchbar-height;
      flex: 1;

      .okp4-dataverse-portal-searchbar-main {
        @include grid-item($colStart: 1, $colEnd: 7, $rowStart: 1, $rowEnd: 2);
      }

      .okp4-dataverse-portal-share-dataset-page-services-container {
        box-sizing: border-box;
        position: relative; // necessary to compute the height of the scroll container
        padding-bottom: $search-container-gap;
        overflow-y: auto;
        @include grid-item($colStart: 1, $colEnd: -1, $rowStart: 2, $rowEnd: -1);

        &:has(.okp4-dataverse-portal-service-search-no-result-wrapper) {
          align-self: center;
        }

        max-height: calc(($card-height + $card-gap) * 2);

        @media (min-height: 851px) and (max-height: 1024px) {
          max-height: calc($card-height + $card-gap + $card-height / 2);
        }

        @media (max-height: 850px) {
          max-height: $card-height;
        }

        &.detailed {
          @include grid-item($colStart: 1, $colEnd: 7);
        }

        .okp4-dataverse-portal-share-dataset-page-services {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
          grid-auto-rows: $card-height;
          gap: $card-gap;
          margin-right: 15px;

          .okp4-dataverse-portal-share-dataset-page-service {
            :focus-visible {
              outline: none;
            }

            &.selected {
              outline-offset: -2px;
              outline: 2px solid themed('blue-emphasis-500');
              background-color: rgba(themed('blue-emphasis-500'), 0.08);
            }

            .selected-button {
              background-color: themed('blue-emphasis-700');
              box-shadow: none;
            }
          }
        }

        .okp4-dataverse-portal-service-search-no-result-wrapper {
          justify-content: center;
        }
      }

      .okp4-dataverse-portal-share-dataset-page-service-details-container {
        @include grid-item($colStart: 7, $colEnd: 13, $rowStart: 1);

        margin-left: 18px;
        max-height: calc(
          $searchbar-height + ($card-height + $card-gap) * 2 + $search-container-gap
        );

        @media (min-height: 851px) and (max-height: 1024px) {
          max-height: calc(
            $searchbar-height + $search-container-gap + $card-height + $card-gap + $card-height / 2 -
            $service-details-vertical-padding
          );
        }

        @media (max-height: 850px) {
          max-height: $searchbar-height + $card-height;
        }

        .okp4-dataverse-portal-share-dataset-page-service-details-scroll-container {
          padding-right: 20px;
          overflow-y: auto;
          max-height: inherit;
          padding: $service-details-vertical-padding 24px;
          background: themed('card-background-gradient');
          border-radius: 12px;
        }
      }
    }
  }
}
