@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

$card-height: 220px;
$card-gap: 48px;
$search-container-gap: 26px;
$search-height: 42px;

.okp4-dataverse-portal-share-dataset-page-service-selection-container {
  @include with-theme() {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 34px;

    h2 {
      @include grid-item($colStart: 1, $colEnd: -1, $rowStart: auto, $rowEnd: auto);
      @include noto-sans(700);
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 0.4px;
      color: themed('text');
      margin-bottom: 11px;
    }

    .okp4-dataverse-portal-share-dataset-page-service-selection-tabs {
      @include grid-item($colStart: 1, $colEnd: -1, $rowStart: auto, $rowEnd: auto);

      h3 {
        @include noto-sans(700);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: themed('text');
        margin-bottom: 16px;
        text-transform: uppercase;
      }
    }

    .okp4-dataverse-portal-share-dataset-page-service-selection-search-container {
      @include grid-container($colGutter: 18px, $rowGutter: $search-container-gap);
    }
    
    .okp4-dataverse-portal-searchbar-main {
      @include grid-item($colStart: 1, $colEnd: 7, $rowStart: 1, $rowEnd: 1);
    }

    .okp4-dataverse-portal-share-dataset-page-services-container {
      position: relative; // necessary to compute the height of the scroll container
      @include grid-item($colStart: 1, $colEnd: -1, $rowStart: 2, $rowEnd: 16);
      max-height: calc(($card-height + $card-gap) * 2);

      @media (max-height: 1024px) {
        max-height: calc(($card-height + $card-gap + $card-height / 2));
      }
      
      @media (max-height: 900px) {
        max-height: calc(($card-height + $card-gap + 20px)); // extra height to make the next cards visibles
      }
      

      overflow-y: auto;

      &.detailed {
        @include grid-item($colStart: 1, $colEnd: 7, $rowStart: auto, $rowEnd: auto);
      }

      .okp4-dataverse-portal-share-dataset-page-services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-auto-rows: $card-height;
        gap: $card-gap;
        margin-right: 15px;

        .okp4-dataverse-portal-share-dataset-page-service {
          :focus-visible {
            outline: none;
          }

          &.selected {
            outline-offset: -2px;
            outline: 2px solid themed('primary-color');
            background-color: themed('card-background-selected');
          }

          .selected-button {
            background-color: themed('card-button-selected');
            box-shadow: none;
          }
        }
      }

      .okp4-dataverse-portal-service-search-no-result-wrapper {
        justify-content: center;
        height: 100%;
      }
    }

    .okp4-dataverse-portal-share-dataset-page-service-details-container {
      @include grid-item($colStart: 7, $colEnd: 13, $rowStart: 1, $rowEnd: 12);
      border-radius: 12px;
      padding: 22px 22px 0;
      background: themed('card-background-gradient');
      margin-left: 18px;

      .okp4-dataverse-portal-share-dataset-page-service-details-scroll-container {
        padding-right: 20px;
        overflow-y: auto;

        max-height: calc((($card-height + $card-gap) * 2) + $search-height + $search-container-gap);

        @media (max-height: 1024px) {
          max-height: calc(($card-height + $card-gap + $card-height / 2));
        }
      }
    }
  }
}
