.okp4-dataverse-portal-toolbar-main {
  @include twelve-column-layout;
  justify-items: end;
  align-items: center;

  .okp4-dataverse-portal-burger-menu {
    @include grid-item($colStart: 1, $colEnd: 2, $rowStart: 1, $rowEnd: 1);
    justify-self: flex-start;
  }

  .okp4-dataverse-portal-toolbar-logo {
    justify-self: center;

    @include use-breakpoints(('mobile')) {
      @include grid-item($colStart: 3, $colEnd: 5, $rowStart: 1, $rowEnd: 1);
    }

    @include use-breakpoints(('tablet')) {
      @include grid-item($colStart: 4, $colEnd: 6, $rowStart: 1, $rowEnd: 1);
    }
  }

  .okp4-dataverse-portal-wallet {
    @include grid-item($colStart: -1, $colEnd: -2, $rowStart: 1, $rowEnd: 1);
    justify-self: flex-end;

    @include use-breakpoints(('desktop', 'large-desktop')) {
      @include grid-item($colStart: -1, $colEnd: -5, $rowStart: 1, $rowEnd: 1);
    }

    .okp4-dataverse-portal-wallet-icon {
      padding: 11px;
    }
  }
}
