@mixin use-breakpoints($breakpoints) {
  @each $breakpoint in $breakpoints {
    @if $breakpoint == 'mobile' {
      @media (max-width: 595px) {
        @content;
      }
    }
    @if $breakpoint == 'tablet' {
      @media (min-width: 596px) and (max-width: 1439px) {
        @content;
      }
    }
    @if $breakpoint == 'desktop' {
      @media (min-width: 1440px) and (max-width: 1919px) {
        @content;
      }
    }
    @if $breakpoint == 'large-desktop' {
      @media (min-width: 1920px) {
        @content;
      }
    }
  }
}

@mixin grid-container($colsNb: 12, $colsSize: 1fr, $gutter) {
  display: grid;
  grid-template-columns: repeat($colsNb, $colsSize);
  column-gap: $gutter;
  @content;
}

@mixin grid-item($colStart, $colEnd, $rowStart, $rowEnd) {
  grid-column-start: $colStart;
  grid-column-end: $colEnd;
  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;
  @content;
}

@mixin blurred-page($length) {
  position: relative;
  filter: blur($length);
}

@mixin transition-bg-color {
  transition: background-color 200ms ease-in-out;
}

@mixin twelve-column-layout {
  @include use-breakpoints(('mobile')) {
    @include grid-container($colsNb: 6, $gutter: 16px);
  }

  @include use-breakpoints(('tablet')) {
    @include grid-container($colsNb: 8, $gutter: 16px);
  }

  @include use-breakpoints(('desktop')) {
    @include grid-container($gutter: 34px);
  }

  @include use-breakpoints(('large-desktop')) {
    @include grid-container($gutter: 48px);
  }
}

@mixin bi-column-item($side) {
  @if not($side == 'left' or $side == 'right') {
    @error '#{$side} is not a valid argument, accepted arguments: left, right';
  }
  @if ($side == 'left') {
    @include use-breakpoints(('mobile', 'tablet')) {
      @include grid-item($colStart: 1, $colEnd: -1, $rowStart: auto, $rowEnd: auto);
    }

    @include use-breakpoints(('desktop', 'large-desktop')) {
      @include grid-item($colStart: 1, $colEnd: 7, $rowStart: auto, $rowEnd: auto);
    }
  } @else if ($side == 'right') {
    @include use-breakpoints(('mobile', 'tablet')) {
      @include grid-item($colStart: 1, $colEnd: -1, $rowStart: auto, $rowEnd: auto);
    }

    @include use-breakpoints(('desktop', 'large-desktop')) {
      @include grid-item($colStart: 7, $colEnd: 13, $rowStart: auto, $rowEnd: auto);
    }
  }
}

@mixin norse-gradient-header($line-height: 36px) {
  @include norse-font(700);
  width: fit-content;
  line-height: $line-height;
  letter-spacing: 4px;
  font-size: 24px;
  background: themed('gradient');
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin columns-with-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin rows-with-gap($gap) {
  display: flex;
  gap: $gap;
}
