// Background
$background-color-inverse: rgb(23, 24, 33);
$background-color-dark: rgb(18, 19, 32);
$background-color-inverse-light: rgb(36, 36, 51);
$background-color: rgb(223, 228, 233);
$background-color-light: rgb(242, 246, 249);

// Blue Palette
$blue-100: rgb(170, 204, 220);
$blue-200: rgb(128, 179, 202);
$blue-300: rgb(85, 154, 185);
$blue-400: rgb(43, 128, 167);
$blue-500: rgb(0, 103, 150);
$blue-600: rgb(0, 86, 125);
$blue-700: rgb(0, 69, 100);
$blue-800: rgb(0, 52, 75);
$blue-900: rgb(0, 48, 58);

// Orange Palette
$orange-100: rgb(255, 220, 170);
$orange-200: rgb(255, 202, 128);
$orange-300: rgb(255, 184, 85);
$orange-400: rgb(255, 167, 43);
$orange-500: rgb(255, 149, 0);
$orange-600: rgb(212, 124, 0);
$orange-700: rgb(170, 99, 0);
$orange-800: rgb(128, 75, 0);
$orange-900: rgb(85, 50, 0);

// Neutral Palette
$neutral-100: rgb(240, 243, 246);
$neutral-200: rgb(229, 235, 240);
$neutral-300: rgb(216, 225, 232);
$neutral-400: rgb(204, 215, 224);
$neutral-500: rgb(191, 205, 217);
$neutral-600: rgb(178, 195, 209);
$neutral-700: rgb(148, 162, 174);
$neutral-800: rgb(119, 130, 139);
$neutral-900: rgb(89, 98, 105);

// Dark blue Palette
$darkblue-100: rgb(170, 191, 208);
$darkblue-200: rgb(128, 159, 185);
$darkblue-300: rgb(85, 128, 162);
$darkblue-400: rgb(43, 96, 138);
$darkblue-500: rgb(0, 64, 115);
$darkblue-600: rgb(0, 53, 96);
$darkblue-700: rgb(0, 43, 77);
$darkblue-800: rgb(0, 32, 58);
$darkblue-900: rgb(0, 21, 38);
$darkblue-100: rgb(170, 191, 208);

// Teal Palette
$teal-100: rgb(170, 218, 228);
$teal-200: rgb(128, 199, 214);
$teal-300: rgb(85, 180, 200);
$teal-400: rgb(43, 162, 187);
$teal-500: rgb(0, 143, 173);
$teal-600: rgb(0, 143, 173);
$teal-700: rgb(0, 119, 144);
$teal-800: rgb(0, 95, 115);
$teal-900: rgb(0, 72, 87);

// Turquoise Palette
$turquoise-100: rgb(170, 231, 231);
$turquoise-200: rgb(128, 218, 219);
$turquoise-300: rgb(85, 206, 207);
$turquoise-400: rgb(43, 194, 195);
$turquoise-500: rgb(0, 182, 183);
$turquoise-600: rgb(0, 152, 152);
$turquoise-700: rgb(0, 121, 122);
$turquoise-800: rgb(0, 91, 92);
$turquoise-900: rgb(0, 61, 61);

// Neutral Primary Palette
$neutral-primary-100: rgb(193, 193, 199);
$neutral-primary-200: rgb(162, 162, 171);
$neutral-primary-300: rgb(131, 131, 143);
$neutral-primary-400: rgb(100, 100, 115);
$neutral-primary-500: rgb(69, 69, 87);
$neutral-primary-600: rgb(58, 58, 73);
$neutral-primary-700: rgb(46, 46, 58);
$neutral-primary-800: rgb(35, 35, 44);
$neutral-primary-900: rgb(23, 23, 29);

// Neutral Secondary Palette
$neutral-secondary-100: rgb(218, 217, 226);
$neutral-secondary-200: rgb(199, 198, 211);
$neutral-secondary-300: rgb(180, 180, 196);
$neutral-secondary-400: rgb(162, 161, 182);
$neutral-secondary-500: rgb(143, 142, 167);
$neutral-secondary-600: rgb(119, 118, 139);
$neutral-secondary-700: rgb(95, 95, 111);
$neutral-secondary-800: rgb(72, 71, 84);
$neutral-secondary-900: rgb(48, 47, 56);

// Others
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$status-color-error: rgb(255, 54, 72);
$status-color-success: rgb(74, 211, 119);

// ❗️ following colors is missing in the design system
// TODO: define appropriate colors with product team
$primary-variant-4: rgb(80, 221, 183);
