// primary (blue)
$primary: #006796;
$primary-variant-1: #004073;
$primary-variant-2: #008fad;
$primary-variant-3: #00b6b7;
$primary-variant-4: #50ddb7;
$primary-variant-5: #5580a2;
$primary-text: #ffffff;

// secondary (orange)
$secondary: #ff9500;
$secondary-variant-1: #ffb855;
$secondary-variant-2: #ffdcaa;
$secondary-disabled: #b2c3d1;

// neutral (grey)
$neutral: #babec2;
$neutral-variant-1: #dfe4e9;

// disabled
$color-text-disabled: #ccd9e3;
$background-disabled: #e7edf1;

// backgrounds
$background-dark: #171821;
$background-light: #dfe4e9;
$background-dark-variant-1: rgba(255, 255, 255, 0.06);
$background-light-variant-1: rgba(0, 64, 115, 0.06);
$background-dark-variant-2: #004073;
$background-light-variant-2: #006796;
$background-primary-variant: rgba(0, 103, 150, 0.08);
$background-primary-variant-3: rgba(0, 182, 183, 0.08);
$background-primary-variant-4: rgba(80, 221, 183, 0.08);

// buttons
$tertiary-button-background-dark: #242433;
$tertiary-button-background-light: #f2f6f9;
$tertiary-button-background-dark-variant-1: #121320;
$tertiary-button-background-light-variant-1: #eaedf0;
$primary-button-background-pressed: #d47c00;
$secondary-button-background-pressed: #004564;
$secondary-button-hover: #559ab9;

// chips
$chip-dark: #ffffff;
$chip-light: #004073;

// switches
$switch-dark: #242433;
$switch-light: #ffdcaa;
$switch-dark-variant-1: rgb(255 255 255 / 20%);
$switch-light-variant-1: #ffffff;

// list items
$list-item-dark: #242433;
$list-item-light: #f2f6f9;

// cards
$card-dark: #242433;
$card-light: #f2f6f9;
$card-background-disabled: #001526;
$card-background-hover-light: #003560;
$card-background-hover-dark: #00203a;
$card-button-selected: #004564;
$card-background-selected: rgba(0, 103, 150, 0.08);
$card-background-pressed-light: #002b4d;
$card-background-pressed-dark: #001526;

// menus
$menu-dark: #121320;
$menu-light: #f2f6f9;
$menu-dark-variant-1: #242433;
$menu-light-variant-1: $background-light;

// texts
$text-dark: #ffffff;
$text-light: $primary-variant-1;

// gradients
$gradient: linear-gradient(270deg, #00b6b7 17.51%, #004073 100%);
$card-background-light-gradient: linear-gradient(180deg, #f2f6f9 0%, rgba(242, 246, 249, 0) 100%);
$card-background-dark-gradient: linear-gradient(
  180deg,
  rgba($card-dark, 0.8) 0%,
  rgba($card-dark, 0) 100%
);
// semantic
$success: #4ad377;
$error: #ff3648;
$warning: #ff9500;
$info-light: #004073;
$info-dark: #dfe4e9;

// skeleton
$skeleton-base-color-light: #a9a9a9;
$skeleton-base-color-dark: #dcdcdc;
$skeleton-animated-color-light: #696969;
$skeleton-animated-color-dark: #efefef;

// governance navigation
$governance-nav-section-background: #b2c3d2;

// article
$article-background-dark: #242433;
$article-background-light: #f2f6f9;

// paragraph
$paragraph-background-dark: #171821;
$paragraph-background-light: #dfe4e9;

// checkbox
$disabled-checkbox-background: #e5ebf0;

//tabs
$tab-disabled-background: #b2c3d1;
$tab-disabled-text: #94a2ae;
$tab-inactive-background-light: rgba(0, 64, 115, 0.06);
$tab-inactive-background-dark: rgba(255, 255, 255, 0.06);
$tab-inactive-text-light: rgba(0, 64, 115, 0.6);
$tab-inactive-text-dark: rgba(255, 255, 255, 0.6);
$tab-active-background: #004073;

//file drag and drop
$file-picker-background-light: #f2f6f9;
$file-picker-background-dark: #242433;
$file-picker-background-focused-light: #d5e5ed;
$file-picker-background-focused-dark: #202c3f;
$file-picker-border-light: hsla(207, 100%, 23%, 0.4);
$file-picker-border-dark: hsl(0, 0%, 100%);
$file-picker-border-focused-light: hsl(199, 100%, 29%);
$file-picker-border-focused-dark: hsl(199, 100%, 29%);

// input
$input-background-dark: #242433;
$input-background-light: #f2f6f9;
$input-border-light: $primary-variant-1;
$input-border-dark: #f2f6f9;
$input-label-shrinked-light: #809fb9;
$input-label-shrinked-dark: rgba(255, 255, 255, 0.6);
$input-background-focused-light: rgba(0, 64, 115, 0.08);
$input-background-focused-dark: #242433;
$input-background-disabled-light: $background-disabled;
$input-background-disabled-dark: #494955;
$input-label-disabled-light: $secondary-disabled;
$input-label-disabled-dark: #242433;
$input-label-placeholder-dark: rgba(178, 179, 194, 0.6);
$input-label-placeholder-light: rgba(0, 64, 115, 0.6);
$input-label-top-dark: #ffffff;
$input-label-top-light: #004073;

// tags field
$tags-field-input-action-background-light: rgba(0, 64, 115, 0.08);
$tags-field-input-action-background-dark: rgba(255, 255, 255, 0.08);

// dropdown
$dropdown-background-light: rgba(0, 64, 115, 0.08);
$dropdown-background-dark: #242433;
$dropdown-border-light: rgba(0, 64, 115, 0.12);
$dropdown-tags-color: $primary;
$dropdown-tags-background: rgba(0, 103, 150, 0.12);
$dropdown-content-background-light: #ffffff;
$dropdown-content-background-dark: $dropdown-background-dark;

// modal
$modal-background-dark: linear-gradient(360deg, #242433 0%, #2f2f42 100%);
$modal-background-light: linear-gradient(360deg, #f2f6f9 0%, #ffffff 100%);
