@import './palette.scss';

$themes: (
  light: (
    primary-color: $primary,
    primary-color-variant-1: $primary-variant-1,
    primary-color-variant-2: $primary-variant-2,
    primary-color-variant-3: $primary-variant-3,
    primary-color-variant-4: $primary-variant-4,
    primary-color-variant-5: $primary-variant-5,
    primary-text: $primary-text,
    secondary-color: $secondary,
    secondary-color-variant-1: $secondary-variant-1,
    secondary-color-variant-2: $secondary-variant-2,
    neutral: $neutral,
    neutral-variant-1: $neutral-variant-1,
    background: $background-light,
    background-variant-1: $background-light-variant-1,
    background-primary-variant: $background-primary-variant,
    background-primary-variant-3: $background-primary-variant-3,
    background-primary-variant-4: $background-primary-variant-4,
    tertiary-button-background: $tertiary-button-background-light,
    tertiary-button-background-variant-1: $tertiary-button-background-light-variant-1,
    chip: $chip-light,
    card: $card-light,
    card-background-disabled: $card-background-disabled,
    menu: $menu-light,
    menu-variant-1: $menu-light-variant-1,
    switch: $switch-light,
    switch-variant-1: $switch-light-variant-1,
    text: $text-light,
    success: $success,
    error: $error,
    warning: $warning,
    info: $info-light,
    gradient: $gradient,
    skeleton-base-color: $skeleton-base-color-light,
    skeleton-animated-color: $skeleton-animated-color-light,
    skeleton-gradient: linear-gradient(90deg, transparent, rgba($skeleton-animated-color-light, 0.04), transparent),
    governance-nav-section-background: $governance-nav-section-background,
    article-background: $article-background-light,
    paragraph-background: $paragraph-background-light
  ),
  dark: (
    primary-color: $primary,
    primary-color-variant-1: $primary-variant-1,
    primary-color-variant-2: $primary-variant-2,
    primary-color-variant-3: $primary-variant-3,
    primary-color-variant-4: $primary-variant-4,
    primary-color-variant-5: $primary-variant-5,
    primary-text: $primary-text,
    secondary-color: $secondary,
    secondary-color-variant-1: $secondary-variant-1,
    secondary-color-variant-2: $secondary-variant-2,
    neutral: $neutral,
    neutral-variant-1: $neutral-variant-1,
    background: $background-dark,
    background-variant-1: $background-dark-variant-1,
    tertiary-button-background: $tertiary-button-background-dark,
    tertiary-button-background-variant-1: $tertiary-button-background-dark-variant-1,
    chip: $chip-dark,
    background-primary-variant: $background-primary-variant,
    background-primary-variant-3: $background-primary-variant-3,
    background-primary-variant-4: $background-primary-variant-4,
    card: $card-dark,
    card-background-disabled: $card-background-disabled,
    menu: $menu-dark,
    menu-variant-1: $menu-dark-variant-1,
    switch: $switch-dark,
    switch-variant-1: $switch-dark-variant-1,
    text: $text-dark,
    success: $success,
    error: $error,
    warning: $warning,
    info: $info-dark,
    gradient: $gradient,
    skeleton-base-color: $skeleton-base-color-dark,
    skeleton-animated-color: $skeleton-animated-color-dark,
    skeleton-gradient: linear-gradient(90deg, transparent, rgba($skeleton-animated-color-dark, 0.04), transparent),
    governance-nav-section-background: $tertiary-button-background-dark,
    article-background: $article-background-dark,
    paragraph-background: $paragraph-background-dark
  )
);

@mixin with-theme() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @if (map-has-key($theme-map, $key)) {
    @return map-get($theme-map, $key);
  } @else {
    @error 'ERROR: Specified key does not exist in themes';
  }
}
