@use 'sass:map';
@import './palette.scss';

$themes: (
  light: (
    primary-color: $primary,
    primary-color-variant-1: $primary-variant-1,
    primary-color-variant-2: $primary-variant-2,
    primary-color-variant-3: $primary-variant-3,
    primary-color-variant-4: $primary-variant-4,
    primary-color-variant-5: $primary-variant-5,
    primary-text: $primary-text,
    secondary-color: $secondary,
    secondary-color-variant-1: $secondary-variant-1,
    secondary-color-variant-2: $secondary-variant-2,
    secondary-disabled: $secondary-disabled,
    color-text-disabled: $color-text-disabled,
    background-disabled: $background-disabled,
    neutral: $neutral,
    neutral-variant-1: $neutral-variant-1,
    background: $background-light,
    background-variant-1: $background-light-variant-1,
    background-variant-2: $background-light-variant-2,
    background-primary-variant: $background-primary-variant,
    background-primary-variant-3: $background-primary-variant-3,
    background-primary-variant-4: $background-primary-variant-4,
    tertiary-button-background: $tertiary-button-background-light,
    tertiary-button-background-variant-1: $tertiary-button-background-light-variant-1,
    primary-button-background-pressed: $primary-button-background-pressed,
    secondary-button-background-pressed: $secondary-button-background-pressed,
    secondary-button-hover: $secondary-button-hover,
    turquoise-button-hover: $turquoise-button-hover,
    turquoise-button-pressed: $turquoise-button-pressed,
    chip: $chip-light,
    list-item: $list-item-light,
    card: $card-light,
    card-background-hover: $card-background-hover-light,
    card-background-disabled: $card-background-disabled,
    card-background-pressed: $card-background-pressed-light,
    menu: $menu-light,
    menu-variant-1: $menu-light-variant-1,
    switch: $switch-light,
    switch-variant-1: $switch-light-variant-1,
    text: $text-light,
    success: $success,
    error: $error,
    warning: $warning,
    info: $info-light,
    gradient: $gradient,
    skeleton-base-color: $skeleton-base-color-light,
    skeleton-animated-color: $skeleton-animated-color-light,
    skeleton-gradient:
      linear-gradient(90deg, transparent, rgba($skeleton-animated-color-light, 0.04), transparent),
    governance-nav-section-background: $governance-nav-section-background,
    article-background: $article-background-light,
    paragraph-background: $paragraph-background-light,
    log-out-menu: $error,
    disabled-checkbox-background: $disabled-checkbox-background,
    accordion-menu-menu-background: $text-dark,
    accordion-menu-selected-background: $background-light-variant-1,
    accordion-menu-selected-border: rgba($primary-variant-1, 0.12),
    tab-active-background: $tab-active-background,
    tab-disabled-background: $tab-disabled-background,
    tab-disabled-text: $tab-disabled-text,
    tab-inactive-background: $tab-inactive-background-light,
    tab-inactive-text: $tab-inactive-text-light,
    card-button-selected: $card-button-selected,
    card-background-selected: $card-background-selected,
    card-background-gradient: $card-background-light-gradient,
    file-picker-background: $file-picker-background-light,
    file-picker-background-focused: $file-picker-background-focused-light,
    file-picker-border: $file-picker-border-light,
    file-picker-border-focused: $file-picker-border-focused-light,
    input-background: $input-background-light,
    input-border: $input-border-light,
    input-label-shrinked: $input-label-shrinked-light,
    input-label-disabled: $input-label-disabled-light,
    input-background-focused: $input-background-focused-light,
    input-background-disabled: $input-background-disabled-light,
    input-label-placeholder: $input-label-placeholder-light,
    input-label-top: $input-label-top-light,
    tags-field-input-action-background: $tags-field-input-action-background-light,
    dropdown-background: $dropdown-background-light,
    dropdown-border: $dropdown-border-light,
    dropdown-tags-color: $dropdown-tags-color,
    dropdown-tags-background: $dropdown-tags-background,
    dropdown-content-background: $dropdown-content-background-light,
    dropdown-content-box-shadow: $dropdown-content-box-shadow-light,
    modal-background: $modal-background-light,
    modal-line-divider: $modal-line-divider-light
  ),
  dark: (
    primary-color: $primary,
    primary-color-variant-1: $primary-variant-1,
    primary-color-variant-2: $primary-variant-2,
    primary-color-variant-3: $primary-variant-3,
    primary-color-variant-4: $primary-variant-4,
    primary-color-variant-5: $primary-variant-5,
    primary-text: $primary-text,
    secondary-color: $secondary,
    secondary-color-variant-1: $secondary-variant-1,
    secondary-color-variant-2: $secondary-variant-2,
    secondary-disabled: $secondary-disabled,
    color-text-disabled: $color-text-disabled,
    background-disabled: $background-disabled,
    neutral: $neutral,
    neutral-variant-1: $neutral-variant-1,
    background: $background-dark,
    background-variant-1: $background-dark-variant-1,
    background-variant-2: $background-dark-variant-2,
    tertiary-button-background: $tertiary-button-background-dark,
    tertiary-button-background-variant-1: $tertiary-button-background-dark-variant-1,
    primary-button-background-pressed: $primary-button-background-pressed,
    secondary-button-background-pressed: $secondary-button-background-pressed,
    secondary-button-hover: $secondary-button-hover,
    turquoise-button-hover: $turquoise-button-hover,
    turquoise-button-pressed: $turquoise-button-pressed,
    chip: $chip-dark,
    background-primary-variant: $background-primary-variant,
    background-primary-variant-3: $background-primary-variant-3,
    background-primary-variant-4: $background-primary-variant-4,
    list-item: $list-item-dark,
    card: $card-dark,
    card-background-hover: $card-background-hover-dark,
    card-background-disabled: $card-background-disabled,
    card-background-pressed: $card-background-pressed-dark,
    menu: $menu-dark,
    menu-variant-1: $menu-dark-variant-1,
    switch: $switch-dark,
    switch-variant-1: $switch-dark-variant-1,
    text: $text-dark,
    success: $success,
    error: $error,
    warning: $warning,
    info: $info-dark,
    gradient: $gradient,
    skeleton-base-color: $skeleton-base-color-dark,
    skeleton-animated-color: $skeleton-animated-color-dark,
    skeleton-gradient:
      linear-gradient(90deg, transparent, rgba($skeleton-animated-color-dark, 0.04), transparent),
    governance-nav-section-background: $tertiary-button-background-dark,
    article-background: $article-background-dark,
    paragraph-background: $paragraph-background-dark,
    log-out-menu: $error,
    disabled-checkbox-background: $disabled-checkbox-background,
    accordion-menu-menu-background: $card-dark,
    accordion-menu-selected-background: $card-dark,
    accordion-menu-selected-border: transparent,
    tab-active-background: $tab-active-background,
    tab-disabled-background: $tab-disabled-background,
    tab-disabled-text: $tab-disabled-text,
    tab-inactive-background: $tab-inactive-background-dark,
    tab-inactive-text: $tab-inactive-text-dark,
    card-button-selected: $card-button-selected,
    card-background-selected: $card-background-selected,
    card-background-gradient: $card-background-dark-gradient,
    file-picker-background: $file-picker-background-dark,
    file-picker-background-focused: $file-picker-background-focused-dark,
    file-picker-border: $file-picker-border-dark,
    file-picker-border-focused: $file-picker-border-focused-dark,
    input-background: $input-background-dark,
    input-border: $input-border-dark,
    input-label-shrinked: $input-label-shrinked-dark,
    input-label-disabled: $input-label-disabled-dark,
    input-background-focused: $input-background-focused-dark,
    input-background-disabled: $input-background-disabled-dark,
    input-label-placeholder: $input-label-placeholder-dark,
    input-label-top: $input-label-top-dark,
    tags-field-input-action-background: $tags-field-input-action-background-dark,
    dropdown-background: $dropdown-background-dark,
    dropdown-border: $dropdown-background-dark,
    dropdown-tags-color: $dropdown-tags-color,
    dropdown-tags-background: $dropdown-tags-background,
    dropdown-content-background: $dropdown-content-background-dark,
    dropdown-content-box-shadow: $dropdown-content-box-shadow-dark,
    modal-background: $modal-background-dark,
    modal-line-divider: $modal-line-divider-dark
  )
);

@mixin with-theme() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map.get(map.get($themes, $theme), '#{$key}');
        $theme-map: map.merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @if (map.has-key($theme-map, $key)) {
    @return map.get($theme-map, $key);
  } @else {
    @error 'ERROR: Specified key does not exist in themes';
  }
}
