@use 'sass:map';
@import './palette.scss';

$themes: (
  light: (
    background: $background-color,
    background-variant-1: rgba($darkblue-500, 0.06),
    background-variant-2: $blue-500,
    background-variant-3: $background-color-light,
    background-variant-4: $neutral-200,
    blue-emphasis-300: $blue-300,
    blue-emphasis-500: $blue-500,
    blue-emphasis-700: $blue-700,
    orange-emphasis-300: $orange-300,
    orange-emphasis-500: $orange-500,
    orange-emphasis-600: $orange-600,
    neutral-emphasis-200: $neutral-200,
    neutral-emphasis-400: $neutral-400,
    neutral-emphasis-600: $neutral-600,
    neutral-emphasis-700: $neutral-700,
    darkblue-emphasis-500: $darkblue-500,
    darkblue-emphasis-900: $darkblue-900,
    teal-emphasis-500: $teal-500,
    turquoise-emphasis-200: $turquoise-200,
    turquoise-emphasis-300: $turquoise-300,
    turquoise-emphasis-500: $turquoise-500,
    turquoise-emphasis-700: $turquoise-700,
    neutral-secondary-emphasis-800: $neutral-secondary-800,
    black-emphasis: $black,
    white-emphasis: $white,
    chip: $darkblue-500,
    card-background-hover: $darkblue-600,
    card-background-pressed: $darkblue-700,
    menu: $background-color-light,
    menu-variant-1: $background-color,
    switch: $orange-100,
    switch-variant-1: $white,
    text: $darkblue-500,
    success: $status-color-success,
    error: $status-color-error,
    warning: $orange-500,
    info: $darkblue-500,
    skeleton-base-color: $neutral-secondary-400,
    skeleton-animated-color: $neutral-secondary-700,
    skeleton-gradient:
    linear-gradient(90deg, transparent, rgba($neutral-secondary-700, 0.04), transparent),
    governance-nav-section-background: $neutral-600,
    accordion-menu-menu-background: $white,
    accordion-menu-selected-background: rgba($darkblue-500, 0.06),
    accordion-menu-selected-border: rgba($darkblue-500, 0.12),
    tab-inactive-background: rgba($darkblue-500, 0.06),
    tab-inactive-text: rgba($white, 0.6),
    card-background-gradient: linear-gradient(180deg, $background-color-light 0%, rgba($background-color-light, 0) 100%),
    file-picker-background-focused: $neutral-primary-700,
    file-picker-border: rgba($darkblue-500, 0.4),
    input-border: $darkblue-500,
    input-label-shrinked: $darkblue-200,
    input-label-disabled: $neutral-600,
    input-background-focused: rgba($darkblue-500, 0.08),
    input-background-disabled: $neutral-200,
    input-label-placeholder: rgba($darkblue-500, 0.6),
    input-label-top: $white,
    tags-field-input-action-background: rgba($darkblue-500, 0.08),
    dropdown-background: rgba($darkblue-500, 0.08),
    dropdown-border: rgba($darkblue-500, 0.12),
    dropdown-content-background: $white,
    dropdown-content-box-shadow: 0 4px 8px 0 rgba($black, 0.14),
    modal-background: linear-gradient(360deg, $background-color-light 0%, $white 100%),
    modal-line-divider: rgba($darkblue-500, 0.12),
    share-dataset-summary-title: rgba($darkblue-500, 0.4),
    daypicker-background: $white,
    daypicker-day-color: $neutral-secondary-800,
    daypicker-day-outside-color: $neutral-600,
    daypicker-day-range-middle: $darkblue-100,
    daypicker-day-today: $darkblue-500,
    daypicker-dropdowns-background: rgba($darkblue-500, 0.08),
  ),
  dark: (
    background: $background-color-inverse,
    background-variant-1: rgba($white, 0.06),
    background-variant-2: $darkblue-500,
    background-variant-3: $background-color-inverse-light,
    background-variant-4: $background-color-dark,
    blue-emphasis-300: $blue-300,
    blue-emphasis-500: $blue-500,
    blue-emphasis-700: $blue-700,
    orange-emphasis-300: $orange-300,
    orange-emphasis-500: $orange-500,
    orange-emphasis-600: $orange-600,
    neutral-emphasis-200: $neutral-200,
    neutral-emphasis-400: $neutral-400,
    neutral-emphasis-600: $neutral-600,
    neutral-emphasis-700: $neutral-700,
    darkblue-emphasis-500: $darkblue-500,
    darkblue-emphasis-900: $darkblue-900,
    teal-emphasis-500: $teal-500,
    turquoise-emphasis-200: $turquoise-200,
    turquoise-emphasis-300: $turquoise-300,
    turquoise-emphasis-500: $turquoise-500,
    turquoise-emphasis-700: $turquoise-700,
    neutral-secondary-emphasis-800: $neutral-secondary-800,
    black-emphasis: $black,
    white-emphasis: $white,
    chip: $white,
    card-background-hover: $darkblue-800,
    card-background-pressed: $darkblue-900,
    menu: $background-color-dark,
    menu-variant-1: $background-color-inverse-light,
    switch: $background-color-inverse-light,
    switch-variant-1: rgba($white, 0.2),
    text: $white,
    success: $status-color-success,
    error: $status-color-error,
    warning: $orange-500,
    info: $background-color,
    skeleton-base-color: $neutral-secondary-100,
    skeleton-animated-color: $white,
    skeleton-gradient:
    linear-gradient(90deg, transparent, rgba($white, 0.04), transparent),
    governance-nav-section-background: $background-color-inverse-light,
    accordion-menu-menu-background: $background-color-inverse-light,
    accordion-menu-selected-background: $background-color-inverse-light,
    accordion-menu-selected-border: transparent,
    tab-inactive-background: rgba($white, 0.06),
    tab-inactive-text: rgba($white, 0.6),
    card-background-gradient: linear-gradient(
      180deg,
      rgba($background-color-inverse-light, 0.8) 0%,
      rgba($background-color-inverse-light, 0) 100%
    ),
    file-picker-background-focused: $neutral-primary-700,
    file-picker-border: $white,
    input-border: $background-color-light,
    input-label-shrinked: rgba($white, 0.6),
    input-label-disabled: $background-color-inverse-light,
    input-background-focused: $background-color-inverse-light,
    input-background-disabled: $neutral-secondary-800,
    input-label-placeholder: rgba($neutral-secondary-300, 0.6),
    input-label-top: $white,
    tags-field-input-action-background: rgba($white, 0.08),
    dropdown-background: $background-color-inverse-light,
    dropdown-border: $background-color-inverse-light,
    dropdown-content-background: $background-color-inverse-light,
    dropdown-content-box-shadow: 0 8px 20px 0 rgba($black, 0.40),
    modal-background: linear-gradient(360deg, $background-color-inverse-light 0%, $neutral-primary-700 100%),
    modal-line-divider: rgba($white, 0.12),
    share-dataset-summary-title: rgba($white, 0.4),
    daypicker-background: $background-color-inverse-light,
    daypicker-day-color: $neutral-300,
    daypicker-day-outside-color: rgb(112, 114, 117),
    daypicker-day-range-middle: rgb(32, 63, 90),
    daypicker-day-today: $darkblue-400,
    daypicker-dropdowns-background: $background-color-inverse,
  )
);

@mixin with-theme() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map.get(map.get($themes, $theme), '#{$key}');
        $theme-map: map.merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @if (map.has-key($theme-map, $key)) {
    @return map.get($theme-map, $key);
  } @else {
    @error 'ERROR: Specified key does not exist in themes';
  }
}
