@import '@/style/theme.scss';

.okp4-dataverse-portal-card-main {
  @include with-theme() {
    background-color: themed('card');
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
}
