@import '@/style/theme.scss';

$backgrounds: (
  'primary-color': '../../asset/images/knowledge-tree.png',
  'primary-color-variant-1': '../../asset/images/data-services-tree.png',
  'primary-color-variant-2': '../../asset/images/data-spaces-tree.png',
  'primary-color-variant-3': '../../asset/images/applications-tree.png'
);

.okp4-dataverse-portal-card-main {
  @include with-theme() {
    background-color: themed('card');
    border-radius: 20px;
    display: flex;
    align-items: center;

    @each $background-key, $background-value in $backgrounds {
      &.#{$background-key} {
        background: themed($background-key) url($background-value) no-repeat;

        &:hover {
          background: #001526 url($background-value) no-repeat;
        }
      }
    }

    &.card {
      background-color: themed('card');
    }
  }
}
