@import '@/style/theme.scss';

$backgrounds: (
  'primary-color': 'knowledge-tree',
  'primary-color-variant-1': 'data-services-tree',
  'primary-color-variant-2': 'data-spaces-tree',
  'primary-color-variant-3': 'applications-tree'
);

.okp4-dataverse-portal-card-main {
  @include with-theme() {
    background-color: themed('card');
    border-radius: 20px;
    display: flex;
    align-items: center;

    @each $background-key, $background-value in $backgrounds {
      &.#{$background-key} {
        background: themed($background-key)
          url('../../asset/images/' + $background-value + '.webp')
          no-repeat;

        &:hover {
          background: #001526 url('../../asset/images/' + $background-value + '.webp') no-repeat;
        }
      }
    }

    &.card {
      background-color: themed('card');
    }
  }
}
