@import '@/style//fonts.scss';
@import '@/style//theme.scss';

.okp4-dataverse-portal-button-main {
  @include with-theme() {
    height: 34px;
    border: 1px solid themed('secondary-color');
    color: themed('secondary-color');
    border-radius: 6px;
    background: unset;
    cursor: pointer;
    padding: unset;

    &:hover {
      color: themed('secondary-color-variant-1');
      border-color: themed('secondary-color-variant-1');

      svg {
        path {
          fill: themed('secondary-color-variant-1');
        }
      }
    }

    .okp4-dataverse-portal-content-container {
      display: flex;
      align-items: center;
      padding: 6px 10px;
      gap: 6px;

      .okp4-dataverse-portal-button-label {
        @include noto-sans(700);
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  }
}
