@import '@/style//fonts.scss';
@import '@/style//theme.scss';

.okp4-dataverse-portal-button-main {
  @include with-theme() {
    cursor: pointer;
    padding: unset;
    box-sizing: border-box;

    &.secondary {
      border: 1px solid themed('secondary-color');
      color: themed('secondary-color');
      height: 34px;
      border-radius: 6px;
      background: unset;

      &:hover {
        color: themed('secondary-color-variant-1');
        border-color: themed('secondary-color-variant-1');

        svg {
          path {
            fill: themed('secondary-color-variant-1');
          }
        }
      }
    }

    &.tertiary {
      border: unset;
      color: themed('text');
      border-radius: 12px;
      background: themed('tertiary-button-background');

      &:hover {
        background: themed('tertiary-button-background-variant-1');
      }
    }

    .okp4-dataverse-portal-content-container {
      display: flex;
      align-items: center;
      padding: 0 10px;
      gap: 6px;

      &.tertiary {
        padding: 11px 20px;
        gap: 10px;
      }

      .okp4-dataverse-portal-button-label {
        @include noto-sans(700);
        font-size: 11px;
        text-transform: uppercase;

        &.tertiary {
          @include noto-sans(400);
          text-transform: unset;
          font-size: 16px;
        }
      }
    }
  }
}
