@import '@/ui/style/theme.scss';
@import '@/ui/style/fonts.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-tags-field-main {
  $tag-height: 34px;
  @include with-theme() {
    padding: 10px;
    border-radius: 10px;
    background-color: themed('background-variant-3');
    
    .okp4-dataverse-portal-tags-field-content {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      max-height: calc(2 * #{$tag-height} + 10px);
      overflow-y: auto;
      width: 100%;

      .okp4-dataverse-portal-tag-main {
        min-height: $tag-height;
      }

      .okp4-dataverse-portal-tags-field {
        position: relative;
        height: $tag-height;

        .okp4-dataverse-portal-tags-field-placeholder {
          visibility: visible;
          @include rows-with-gap(4px);
          align-items: center;
          pointer-events: none;
          height: inherit;
          @include noto-sans(400);
          color: rgba(themed('text'), 0.6);
          font-size: 16px;
          line-height: 22px;

          .okp4-dataverse-portal-tags-field-placeholder-action {
            padding: 0 4px;
            border-radius: 2px;
            background-color: themed('tags-field-input-action-background');
          }

          &.hidden {
            visibility: hidden;
          }
        }

        .okp4-dataverse-portal-tags-field-input {
          position: absolute;
          inset: 0;
          @include noto-sans(400);
          font-size: 16px;
          line-height: 22px;
          color: themed('text');
          background-color: transparent;
          border: 0;
          outline: 0;
        }
      }
    }
  }
}
