@import '@/ui/style/theme.scss';
@import '@/ui/style/fonts.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-dataverse-item-overview-main {
  @include with-theme() {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .okp4-dataverse-portal-dataverse-item-overview-title {
      @include noto-sans(700);
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: themed('text');
      font-size: 24px;

      .okp4-dataverse-portal-dataverse-item-overview-close {
        cursor: pointer;
      }
    }

    .okp4-dataverse-portal-dataverse-item-overview-description {
      @include noto-sans(300);
      font-size: 16px;
      color: themed('text');
      line-height: 22px;
    }
  }
}
