@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-governance-governance-details-main {
  @include with-theme {
    @include noto-sans(700);
    @include columns-with-gap(20px);
    color: themed('text');

    .okp4-dataverse-portal-governance-details-description {
      @include noto-sans(400);
      font-size: 16px;
      line-height: 22px;

      &.subsection,
      &.article {
        opacity: 0.4;
      }

      &.paragraph {
        opacity: 0.6;
      }
    }

    .okp4-dataverse-portal-governance-details-header {
      @include columns-with-gap(16px);

      @include use-breakpoints(('mobile', 'tablet')) {
        text-align: center;
      }

      .okp4-dataverse-portal-governance-details-header-part {
        @include columns-with-gap(12px);

        .okp4-dataverse-portal-governance-details-title {
          font-size: 24px;

          &.subsection {
            font-size: 16px;
            opacity: 0.4;
            text-transform: uppercase;
          }
        }
      }
    }

    .okp4-dataverse-portal-governance-details-subsection-container {
      font-size: 16px;

      .okp4-dataverse-portal-governance-details-subsection-content {
        @include columns-with-gap(14px);

        .okp4-dataverse-portal-governance-details-article-container {
          @include columns-with-gap(40px);
          background: themed(article-background);
          border-radius: 20px;
          padding: 40px;

          @include use-breakpoints(('mobile', 'tablet')) {
            @include columns-with-gap(20px);
            padding: 20px;
          }

          .okp4-dataverse-portal-governance-details-article-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;

            &.pointer-cursor {
              cursor: pointer;
            }

            .okp4-dataverse-portal-governance-details-article-header-left-part {
              @include columns-with-gap(12px);

              .okp4-dataverse-portal-governance-details-article-title {
                line-height: 22px;

                @include use-breakpoints(('mobile', 'tablet')) {
                  font-size: 16px;
                }
              }
            }

            .okp4-dataverse-portal-governance-details-article-header-right-part {
              display: flex;
              align-items: center;
              gap: 40px;
              align-self: start;

              .okp4-dataverse-portal-governance-details-article-paragraphs-number {
                padding: 12px 17px;
                background: themed(background-variant-1);
                border-radius: 8px;
              }

              .okp4-dataverse-portal-governance-details-article-expand-button {
                display: flex;
                cursor: pointer;

                path {
                  stroke: themed('text');
                  stroke-opacity: 0.6;
                }

                &.rotate-down {
                  @include rotation-animation(-180deg);
                }

                &.rotate-up {
                  @include rotation-animation(0deg);
                }
              }
            }
          }

          .okp4-dataverse-portal-governance-details-paragraphs-container {
            @include grid-container(
              $colsNb: auto-fit,
              $colsSize: minmax(300px, 320px),
              $colGutter: 28px,
              $rowGutter: 14px
            );

            @include use-breakpoints(('mobile', 'tablet')) {
              @include grid-container(
                $colsNb: auto-fit,
                $colsSize: minmax(285px, 330px),
                $colGutter: 14px,
                $rowGutter: 14px
              );
            }

            .okp4-dataverse-portal-governance-details-paragraph {
              @include columns-with-gap(6px);
              background: themed(paragraph-background);
              max-height: 252px;
              border-radius: 10px;
              line-height: 20px;
              padding: 20px;

              .okp4-dataverse-portal-governance-details-paragraph-title {
                font-size: 16px;
              }

              .okp4-dataverse-portal-governance-details-description {
                &.paragraph {
                  max-height: 112px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  overflow-wrap: break-word;
                  /* stylelint-disable-next-line value-no-vendor-prefix */
                  display: -webkit-box;
                  -webkit-line-clamp: 4;
                  -webkit-box-orient: vertical;
                }
              }

              .okp4-dataverse-portal-governance-details-button {
                display: flex;

                button {
                  width: fit-content;
                }
              }
            }
          }
        }
      }
    }
  }
}

.okp4-dataverse-portal-governance-details-modal-main {
  .okp4-dataverse-portal-governance-details-modal-top-element {
    display: flex;
    gap: 6px;
    align-items: center;

    .okp4-dataverse-portal-governance-details-modal-top-element-title {
      @include norse-font(700);
      font-size: 24px;
    }
  }

  .okp4-dataverse-portal-governance-details-modal-content {
    @include noto-sans(400);
    max-width: 293px;
    overflow-wrap: break-word;
  }

  .okp4-dataverse-portal-okp4-modal-bottom-element {
    .okp4-dataverse-portal-governance-details-modal-button {
      width: 120px;
    }
  }
}
  

.okp4-dataverse-portal-governance-identity-main {
  @include with-theme {
    @include noto-sans(700);
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    border-radius: 20px;
    color: themed('text');
    background: themed(article-background);

    .okp4-dataverse-portal-governance-identity-container {
      .okp4-dataverse-portal-governance-identity-paragraphs-container {
        background: themed(paragraph-background);
        width: fit-content;
        border-radius: 10px;
        padding: 20px;

        .okp4-dataverse-portal-governance-identity-paragraph {
          display: flex;
          flex-direction: column;
          gap: 6px;
          line-height: 20px;
          min-width: 216px;

          .okp4-dataverse-portal-governance-identity-paragraph-description {
            @include noto-sans(400);
            opacity: 0.6;
            font-size: 14px;
          }
        }
      }
    }
  }
}
