@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

.okp4-dataverse-portal-okp4-modal-main {
  @include with-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: themed('text');
    width: 358px;

    @include use-breakpoints(('mobile', 'tablet')) {
      width: 352px;
    }

    .okp4-dataverse-portal-okp4-modal-top-element {
      height: 66px;
      padding: 12px 12px 0;
    }

    .okp4-dataverse-portal-okp4-modal-top-element-divider {
      border-top: 1px solid themed('modal-line-divider');
      width: 100%;
    }

    .okp4-dataverse-portal-okp4-modal-content-container {
      padding: 12px;

      .okp4-dataverse-portal-okp4-modal-content {
        max-height: 458px;
        overflow-y: auto;
        padding: 0 14px 0 21px;
        margin: 8px 0;
      }
    }

    .okp4-dataverse-portal-okp4-modal-bottom-element {
      height: 78px;
    }
  }
}
