@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';

.okp4-dataverse-portal-tag-main {
  @include with-theme {
    @include noto-sans(700);
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: themed(primary-color-variant-3);
    font-size: 14px;
    height: 34px;
    padding: 0 8px;
    line-height: 18px;
    background: rgba(themed(primary-color-variant-3), 0.12);
    border-radius: 6px;
    width: fit-content;

    .okp4-dataverse-portal-tag-name {
      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 240px;
    }

    .okp4-dataverse-portal-tag-icon {
      cursor: pointer;

      &,
      svg {
        height: 14px;
        width: 14px;
      }

      path {
        fill: currentColor;
      }
    }
  }
}
