@import '@/ui/style/fonts.scss';
@import '@/ui/style/mixins.scss';
@import '@/ui/style/theme.scss';

$variants: ('success', 'error', 'warning', 'info');

.okp4-dataverse-portal-snackbar-main {
  @include with-theme {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 10;
    background: themed(tertiary-button-background);
    border-radius: 6px;
    padding: 21px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    @include use-breakpoints(('tablet','desktop','large-desktop' )) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 960px;
    }

    .okp4-dataverse-portal-snackbar-container {
      display: flex;
      flex-direction: column;

      .okp4-dataverse-portal-snackbar-header-container {
        display: flex;
        gap: 10px;
        align-items: center;

        .okp4-dataverse-portal-snackbar-title {
          @include noto-sans(700);
          text-transform: uppercase;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 0.4px;

          @each $variant-key in $variants {
            &.#{$variant-key} {
              color: themed($variant-key);
            }
          }
        }
      }

      .okp4-dataverse-portal-snackbar-description {
        @include noto-sans(400);
        color: themed(chip);
        letter-spacing: 0.4px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 32px;
      }
    }

    .okp4-dataverse-portal-snackbar-cta {
      @include use-breakpoints(('tablet','desktop','large-desktop' )) {
        width: auto;
      }
    }
  }
}
