@import '@/ui/style/fonts.scss';
@import '@/ui/style/mixins.scss';
@import '@/ui/style/theme.scss';

.okp4-dataverse-portal-chip-main {
  @include with-theme() {
    padding: 8px 12px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: themed('background-variant-3');
    cursor: pointer;

    @include use-breakpoints(('large-desktop')) {
      padding: 8px 16px;
    }

    &.selected {
      background-color: themed('darkblue-emphasis-500');
    }

    .okp4-dataverse-portal-chip-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(.okp4-dataverse-portal-chip-icon) {
        justify-content: center;
      }

      .okp4-dataverse-portal-chip-icon {
        display: flex;
        margin-right: 10px;

        svg {
          width: 20px;
          height: 20px;
        }

        &.selected {
          svg {
            path {
              fill: themed('white-emphasis');
            }
          }
        }
      }

      .okp4-dataverse-portal-chip-label {
        @include noto-sans(400);
        color: themed(chip);
        width: 100%;
        max-width: 240px;
        font-size: 16px;
        line-height: 24px;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &.selected {
          @include noto-sans(700);
          color: themed('white-emphasis');
        }
      }
    }
  }
}
