@mixin norse-font($weight) {
  font-family: 'Norse', sans-serif;
  font-weight: $weight;
}

@mixin noto-sans($weight) {
  font-family: 'Noto Sans', sans-serif;
  font-weight: $weight;
}

@font-face {
  font-family: 'Norse';
  src: url('../asset/font/norse/Norse.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Norse';
  src: url('../asset/font/norse/Norse-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../asset/font/noto-sans/NotoSans-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../asset/font/noto-sans/NotoSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
