@mixin use-breakpoints($breakpoints) {
  @each $breakpoint in $breakpoints {
    @if $breakpoint == 'mobile' {
      @media (max-width: 595px) {
        @content;
      }
    }
    @if $breakpoint == 'tablet' {
      @media (min-width: 596px) and (max-width: 1439px) {
        @content;
      }
    }
    @if $breakpoint == 'desktop' {
      @media (min-width: 1440px) and (max-width: 1919px) {
        @content;
      }
    }
    @if $breakpoint == 'large-desktop' {
      @media (min-width: 1920px) {
        @content;
      }
    }
  }
}

@mixin grid-container($colsNb: 12, $colsSize: 1fr, $gutter) {
  display: grid;
  grid-template-columns: repeat($colsNb, $colsSize);
  column-gap: $gutter;
  @content;
}

@mixin grid-item($colStart, $colEnd, $rowStart, $rowEnd) {
  grid-column-start: $colStart;
  grid-column-end: $colEnd;
  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;
  @content;
}

@mixin blurred-page($length) {
  position: relative;
  filter: blur($length);
}

@mixin transition-bg-color {
  transition: background-color 200ms ease-in-out;
}

@mixin twelve-column-layout {
  @include use-breakpoints(('mobile')) {
    @include grid-container($colsNb: 6, $gutter: 16px);
  }

  @include use-breakpoints(('tablet')) {
    @include grid-container($colsNb: 8, $gutter: 16px);
  }

  @include use-breakpoints(('desktop')) {
    @include grid-container($gutter: 34px);
  }

  @include use-breakpoints(('large-desktop')) {
    @include grid-container($gutter: 48px);
  }
}
