@import '@/ui/style/fonts.scss';
@import '@/ui/style/mixins.scss';
@import '@/ui/style/theme.scss';

.okp4-dataverse-portal-list-main {
  @include columns-with-gap(16px);
  list-style: none;
  padding: 0;
}

.okp4-dataverse-portal-list-item-main {
  @include with-theme {
    display: grid;
    column-gap: 14px;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 16px 13px;
    border-radius: 12px;
    background-color: themed('list-item');
    color: themed('text');
    @include noto-sans(400);

    &.clickable {
      cursor: pointer;
    }

    &.list-item-3-columns {
      grid-template-columns: auto 1fr auto;
    }

    &.list-item-2-columns-left {
      grid-template-columns: auto 1fr;
    }

    &.list-item-2-columns-right {
      grid-template-columns: 1fr auto;
    }
  }
}
