@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

@mixin button($border-color, $content-color, $background-color, $box-shadow, $hover-color) {
  @include transition-bg-color;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid $border-color;
  color: $content-color;
  border-radius: 12px;
  background-color: $background-color;
  box-shadow: $box-shadow;

  &:hover {
    background: $hover-color;
    border-color: $hover-color;
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }

  &.disabled {
    cursor: unset;
    background: themed('neutral-variant-1');
    border-color: themed('neutral-variant-1');
    color: themed('neutral');
    box-shadow: none;
  }
}

@mixin disabled {
  cursor: unset;
  background: themed('neutral-variant-1');
  border-color: themed('neutral-variant-1');
  color: themed('neutral');
}

.okp4-dataverse-portal-button-main {
  @include with-theme {
    cursor: pointer;
    padding: unset;
    box-sizing: border-box;

    &.primary {
      @include button($border-color: themed('secondary-color'),
      $content-color: themed('primary-text'),
      $background-color: themed('secondary-color'),
        $box-shadow: 0 4px 12px rgb(themed('secondary-color'), 0.6),
        $hover-color: themed('secondary-color-variant-1'));
    }

    &.secondary {
      @include button($border-color: themed('primary-color'),
      $content-color: themed('primary-text'),
      $background-color: themed('primary-color'),
        $box-shadow: 0 4px 12px rgb(themed('primary-color'), 0.6),
        $hover-color: themed('primary-color-variant-2'));

      svg {
        path {
          fill: themed('secondary-color-variant-1');
        }
      }
    }

    &.tertiary {
      border: unset;
      color: themed('text');
      border-radius: 12px;
      background: themed('tertiary-button-background');

      &:hover {
        background: themed('tertiary-button-background-variant-1');
      }
    }

    &.outlined-tertiary {
      @include button($border-color: themed('secondary-color'),
      $content-color: themed('secondary-color'),
      $background-color: unset,
        $box-shadow: none,
        $hover-color: none);
      border-radius: 6px;

      svg {
        path {
          fill: themed('secondary-color');
        }
      }
    }

    &.icon-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      line-height: 0;
    }

    .okp4-dataverse-portal-content-container {
      display: flex;
      align-items: center;

      &.primary {
        padding: 12px 20px;
        gap: 12px;
      }

      &.secondary {
        padding: 8px 16px;
        gap: 12px;
      }

      &.tertiary {
        padding: 11px 20px;
        gap: 10px;
      }

      &.outlined-tertiary {
        padding: 7px 10px;
        gap: 6px;
      }

      .okp4-dataverse-portal-button-label {
        @include noto-sans(700);
        font-size: 11px;

        &.primary,
        &.secondary {
          font-size: 16px;
          line-height: 24px;
        }

        &.tertiary {
          @include noto-sans(400);
          font-size: 16px;
        }
      }
    }
  }
}
