@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

@mixin button($content-color, $background-color, $box-shadow, $hover-color, $pressed-color) {
  @include transition-bg-color;
  display: flex;
  justify-content: center;
  width: 100%;
  color: $content-color;
  border-radius: 12px;
  background-color: $background-color;
  box-shadow: $box-shadow;

  &:hover:not(.disabled) {
    background: $hover-color;
    border-color: $hover-color;
    box-shadow: none;
  }

  &:focus{
    &.disabled {
      outline: 1px solid themed('secondary-disabled');
    }
  }

  &:focus:not(.disabled) {
    background-color: $pressed-color;
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }

  &.disabled {
    cursor: unset;
    background-color: themed('neutral-200');
    color: themed('neutral');
    box-shadow: none;

    svg {
      path {
        fill: themed('neutral');
      }
    }
  }
}

.okp4-dataverse-portal-button-main {
  @include with-theme {
    cursor: pointer;
    padding: unset;
    border: unset;

    &.primary {
      @include button(
        $content-color: themed('primary-text'),
        $background-color: themed('secondary-color'),
        $box-shadow: 0 4px 12px rgb(themed('secondary-color'), 0.6),
        $hover-color: themed('secondary-color-variant-1'),
        $pressed-color: themed('primary-button-background-pressed')
      );
    }

    &.primary-discreet {
      @include button(
        $content-color: themed('primary-text'),
        $background-color: themed('secondary-color'),
        $box-shadow: none,
        $hover-color: themed('secondary-color-variant-1'),
        $pressed-color: themed('primary-button-background-pressed')
      );
      border-radius: 4px;
      justify-content: flex-start;
    }

    &.secondary {
      @include button(
        $content-color: themed('primary-text'),
        $background-color: themed('primary-color'),
        $box-shadow: 0 4px 12px rgb(themed('primary-color'), 0.6),
        $hover-color: themed('secondary-button-hover'),
        $pressed-color: themed('secondary-button-background-pressed')
      );

      &.disabled {
        background-color: themed('neutral-200');
        color: themed('secondary-disabled');
        box-shadow: none;
      }
    }

    &.secondary-discreet {
      @include button(
        $content-color: themed('primary-text'),
        $background-color: themed('primary-color'),
        $box-shadow: none,
        $hover-color: themed('secondary-button-hover'),
        $pressed-color: themed('secondary-button-background-pressed')
      );
      border-radius: 4px;
      justify-content: flex-start;
    }

    &.outlined-secondary {
      @include button(
        $content-color: themed('primary-color'),
        $background-color: unset,
        $box-shadow: none,
        $hover-color: themed('secondary-button-hover'),
        $pressed-color: themed('secondary-button-background-pressed')
      );
      border: 1px solid themed('primary-color');

      &:hover:not(.disabled) {
        background-color: unset;
        color: themed('secondary-button-hover');
      }

      &:focus:not(.disabled) {
        background-color: unset;
        color: themed('secondary-button-background-pressed');
        border-color: themed('secondary-button-background-pressed');
      }

      &.disabled {
        background-color: unset;
        color: themed('secondary-disabled');
        border-color: themed('secondary-disabled');
      }

      svg {
        path {
          fill: themed('primary-color');
        }
      }
    }

    &.tertiary {
      color: themed('text');
      border-radius: 12px;
      background: themed('tertiary-button-background');

      &:hover:not(.disabled) {
        background: themed('tertiary-button-background-variant-1');
      }
    }

    &.outlined-tertiary {
      @include button(
        $content-color: themed('secondary-color'),
        $background-color: unset,
        $box-shadow: none,
        $hover-color: themed('secondary-color-variant-1'),
        $pressed-color: themed('primary-button-background-pressed')
      );
      border: 1px solid themed('secondary-color');

      &.disabled {
        background-color: unset;
        color: themed('secondary-disabled');
        border-color: themed('secondary-disabled');
      }

      &:hover:not(.disabled) {
        background-color: unset;
        color: themed('secondary-color-variant-1');
      }

      &:focus:not(.disabled) {
        background-color: unset;
        color: themed('primary-button-background-pressed');
        border-color: themed('primary-button-background-pressed');
      }

      svg {
        path {
          fill: themed('secondary-color');
        }
      }
    }

    &.quaternary-turquoise {
      @include button(
        $content-color: themed('primary-color-variant-3'),
        $background-color: unset,
        $box-shadow: none,
        $hover-color: themed('turquoise-button-hover'),
        $pressed-color: themed('turquoise-button-pressed')
      );
      border: 1px solid themed('primary-color-variant-3');

      &.disabled {
        color: themed('secondary-disabled');
        border-color: themed('secondary-disabled');
      }

      &:hover:not(.disabled) {
        background-color: unset;
        color: themed('turquoise-button-hover');
      }

      &:focus:not(.disabled) {
        background-color: unset;
        color: themed('turquoise-button-pressed');
        border-color: themed('turquoise-button-pressed');
      }

      svg {
        path {
          fill: themed('secondary-color');
        }
      }
    }

    &.icon-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      line-height: 0;
    }

    .okp4-dataverse-portal-content-container {
      display: flex;
      align-items: center;

      &.small {
        padding: 8px 16px;
        gap: 8px;
      }

      &.large {
        padding: 12px 20px;
        gap: 12px;
      }

      &.outlined-tertiary,
      &.quaternary-turquoise,
      &.outlined-secondary {
        &.small {
          padding: 7px 10px;
          gap: 6px;
        }
      }

      &.primary-discreet,
      &.secondary-discreet {
        padding: 4px 8px;
        gap: 10px;
      }

      .okp4-dataverse-portal-button-label {
        @include noto-sans(700);
        font-size: 16px;
        line-height: 24px;

        &.tertiary {
          @include noto-sans(400);
        }

        &.outlined-tertiary,
        &.quaternary-turquoise,
        &.outlined-secondary {
          font-size: 14px;
          line-height: unset;
        }
      }
    }
  }
}
