@import '@/ui/style/fonts.scss';
@import '@/ui/style/theme.scss';
@import '@/ui/style/mixins.scss';

@mixin button($content-color, $background-color, $box-shadow, $hover-color, $pressed-color) {
  @include transition-bg-color;
  display: flex;
  justify-content: center;
  width: 100%;
  color: $content-color;
  border-radius: 12px;
  background-color: $background-color;
  box-shadow: $box-shadow;

  &:hover {
    &:not(.disabled) {
      background: $hover-color;
      border-color: $hover-color;
      box-shadow: none;
    }
  }

  &:focus{
    &.disabled {
      outline: 1px solid $neutral-600;
    }

    &:not(.disabled) {
      background-color: $pressed-color;
      box-shadow: none;
    }
  }

  &:active {
    box-shadow: none;
  }

  &.disabled {
    cursor: unset;
    background-color: $neutral-200;
    color: $neutral-600;
    box-shadow: none;

    svg {
      path {
        fill: $neutral-600;
      }
    }
  }
}

.okp4-dataverse-portal-button-main {
  @include with-theme {
    cursor: pointer;
    padding: unset;
    border: unset;

    &.primary {
      @include button(
        $content-color: $white,
        $background-color: $orange-500,
        $box-shadow: 0 4px 12px rgba($orange-500, 0.6),
        $hover-color: $orange-300,
        $pressed-color: $orange-600
      );
    }

    &.primary-discreet {
      @include button(
        $content-color: $white,
        $background-color: $orange-500,
        $box-shadow: none,
        $hover-color: $orange-300,
        $pressed-color: $orange-600
      );
      border-radius: 4px;
      justify-content: flex-start;
    }

    &.secondary {
      @include button(
        $content-color: $white,
        $background-color: $blue-500,
        $box-shadow: 0 4px 12px rgba($blue-500, 0.6),
        $hover-color: $blue-300,
        $pressed-color: $blue-700
      );

      &.disabled {
        background-color: $neutral-200;
        color: $neutral-600;
        box-shadow: none;
      }
    }

    &.secondary-discreet {
      @include button(
        $content-color: $white,
        $background-color: $blue-500,
        $box-shadow: none,
        $hover-color: $blue-300,
        $pressed-color: $blue-700
      );
      border-radius: 4px;
      justify-content: flex-start;
    }

    &.outlined-secondary {
      @include button(
        $content-color: $blue-500,
        $background-color: unset,
        $box-shadow: none,
        $hover-color: $blue-300,
        $pressed-color: $blue-700
      );
      border: 1px solid $blue-500;

      &:hover {
        &:not(.disabled) {
          background-color: unset;
          color: $blue-300;
        }
      }

      &:focus {
        &:not(.disabled) {
          background-color: unset;
          color: $blue-700;
          border-color: $blue-700;
        }
      }

      &.disabled {
        background-color: unset;
        color: $neutral-600;
        border-color: $neutral-600;
      }

      svg {
        path {
          fill: $blue-500;
        }
      }
    }

    &.tertiary {
      color: themed('text');
      border-radius: 12px;
      background: themed('background-variant-3');

      &:hover {
        &:not(.disabled) {
          background: themed('background-variant-4');
        }
      }
    }

    &.outlined-tertiary {
      @include button(
        $content-color: $orange-500,
        $background-color: unset,
        $box-shadow: none,
        $hover-color: $orange-300,
        $pressed-color: $orange-600
      );
      border: 1px solid $orange-500;

      &.disabled {
        background-color: unset;
        color: $neutral-600;
        border-color: $neutral-600;
      }

      &:hover {
        &:not(.disabled) {
          background-color: unset;
          color: $orange-300;
        }
      }

      &:focus {
        &:not(.disabled) {
          background-color: unset;
          color: $orange-600;
          border-color: $orange-600;
        }
      }

      svg {
        path {
          fill: $orange-500;
        }
      }
    }

    &.quaternary-turquoise {
      @include button(
        $content-color: $turquoise-500,
        $background-color: unset,
        $box-shadow: none,
        $hover-color: $turquoise-300,
        $pressed-color: $turquoise-700
      );
      border: 1px solid $turquoise-500;

      &.disabled {
        color: $neutral-600;
        border-color: $neutral-600;
      }

      &:hover {
        &:not(.disabled) {
          background-color: unset;
          color: $turquoise-300;
        }
      }

      &:focus {
        &:not(.disabled) {
          background-color: unset;
          color: $turquoise-700;
          border-color: $turquoise-700;
        }
      }

      svg {
        path {
          fill: $orange-500;
        }
      }
    }

    &.icon-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      line-height: 0;
    }

    .okp4-dataverse-portal-content-container {
      display: flex;
      align-items: center;

      &.small {
        padding: 8px 16px;
        gap: 8px;
      }

      &.large {
        padding: 12px 20px;
        gap: 12px;
      }

      &.outlined-tertiary,
      &.quaternary-turquoise,
      &.outlined-secondary {
        &.small {
          padding: 7px 10px;
          gap: 6px;
        }
      }

      &.primary-discreet,
      &.secondary-discreet {
        padding: 4px 8px;
        gap: 10px;
      }

      .okp4-dataverse-portal-button-label {
        @include noto-sans(700);
        font-size: 16px;
        line-height: 24px;

        &.tertiary {
          @include noto-sans(400);
        }

        &.outlined-tertiary,
        &.quaternary-turquoise,
        &.outlined-secondary {
          font-size: 14px;
          line-height: unset;
        }
      }
    }
  }
}
