@import '@/style/mixins.scss';

.okp4-dataverse-portal-toolbar-main {
  @include grid-item($colStart: 1, $colEnd: 13, $rowStart: 1, $rowEnd: 1);
  padding: 25px 0 0;
  justify-items: end;
  align-items: center;

  @include mobile-bp {
    @include grid-item($colStart: 1, $colEnd: 7, $rowStart: 1, $rowEnd: 1);
    @include grid-container($colsNb: 6, $gutter: 16px);
    padding: 44px 0 0;
  }

  @include tablet-bp {
    @include grid-item($colStart: 1, $colEnd: 9, $rowStart: 1, $rowEnd: 1);
    @include grid-container($colsNb: 8, $gutter: 16px);
    padding: 44px 0 0;
  }

  @include desktop-bp {
    @include grid-container($gutter: 34px);
  }

  @include large-desktop-bp {
    @include grid-container($gutter: 48px);
  }

  .okp4-dataverse-portal-toolbar-logo {
    justify-self: center;

    @include mobile-bp {
      @include grid-item($colStart: 1, $colEnd: 7, $rowStart: 1, $rowEnd: 1);
    }

    @include tablet-bp {
      @include grid-item($colStart: 1, $colEnd: 9, $rowStart: 1, $rowEnd: 1);
    }
  }

  .okp4-dataverse-portal-button-main {
    @include grid-item($colStart: 13, $colEnd: 11, $rowStart: 1, $rowEnd: 1);
    width: max-content;

    @include mobile-bp {
      @include grid-item($colStart: 5, $colEnd: 7, $rowStart: 1, $rowEnd: 1);
    }

    @include tablet-bp {
      @include grid-item($colStart: 7, $colEnd: 9, $rowStart: 1, $rowEnd: 1);
    }
  }
}
