@import './style/theme.scss';
@import './style/fonts.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.okp4-dataverse-portal-main {
  @include norse-font-bold();
  @include with-theme() {
    min-height: 100vh;
    display: flex;
    width: 100%;
    background-color: themed('background');
  }
}
