@import '@/style/theme.scss';
@import '@/style/fonts.scss';

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  min-height: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  letter-spacing: 0.1px;
}

.okp4-dataverse-portal-main-layout {
  @include with-theme() {
    min-height: inherit;
    display: flex;
    width: 100%;
    background-color: themed('background');
  }

  .okp4-dataverse-portal-page-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
