@import '@/style/theme.scss';
@import '@/style/fonts.scss';
@import '@/style/mixins.scss';

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  min-height: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  letter-spacing: 0.2px;
}

.okp4-dataverse-portal-main-layout {
  @include with-theme() {
    min-height: inherit;
    display: flex;
    width: 100%;
    background-color: themed('background');
  }

  .okp4-dataverse-portal-page-layout {
    grid-template-rows: max-content;
    width: 100%;
    margin: 0 2%;
    row-gap: 15px;

    @include desktop-bp {
      @include grid-container($gutter: 34px);
    }

    @include large-desktop-bp {
      @include grid-container($gutter: 48px) {
        margin: 0 2.5%;
      }
    }
  }
}
